/*文字排版*/
.f12 {
	font-size: 12px
}
.f13 {
	font-size: 13px
}
.f14 {
	font-size: 14px
}
.f16 {
	font-size: 16px
}
.f18 {
	font-size: 18px
}
.f20 {
	font-size: 20px
}
.fb {
	font-weight: bold
}
.fn {
	font-weight: normal
}
.t2 {
	text-indent: 2em
}
.lh150 {
	line-height: 150%
}
.lh180 {
	line-height: 180%
}
.lh200 {
	line-height: 200%
}
.unl {
	text-decoration: underline;
}
.no_unl {
	text-decoration: none;
}
/*定位*/
.tl {
	text-align: left
}
.tc {
	text-align: center
}
.tr {
	text-align: right!important;
}
.bc {
	margin-left: auto;
	margin-right: auto;
}
.fl {
	float: left;
	display: inline
}
.fr {
	float: right;
	display: inline
}
.center{
	margin-left:auto;
	margin-right: auto;
}
.vm {
	vertical-align: middle
}
.pr {
	position: relative
}
.pa {
	position: absolute
}
.abs-right {
	position: absolute;
	right: 0
}
.zoom {
	zoom: 1
}
.hidden {
	visibility: hidden
}
.none {
	display: none
}
/*长度高度*/

.w910 {
	width: 910px;
}
.w960 {
	width: 960px;
}
.w {
	width: 100%
}
.h50 {
	height: 50px
}
.h80 {
	height: 80px
}
.h100 {
	height: 100px
}
.h200 {
	height: 200px
}
.h {
	height: 100%
}
/*边距*/
.m10 {
	margin: 10px
}
.m15 {
	margin: 15px
}
.m30 {
	margin: 30px
}
.m50 {
	margin: 50px
}
.mt5 {
	margin-top: 5px
}
.mt10 {
	margin-top: 10px
}
.mt15 {
	margin-top: 15px
}
.mt20 {
	margin-top: 20px
}
.mt30 {
	margin-top: 30px
}
.mt50 {
	margin-top: 50px
}
.mt100 {
	margin-top: 100px
}
.mb10 {
	margin-bottom: 10px
}
.mb15 {
	margin-bottom: 15px
}
.mb20 {
	margin-bottom: 20px
}
.mb30 {
	margin-bottom: 30px
}
.mb40 {
	margin-bottom: 40px
}
.mb50 {
	margin-bottom: 50px
}
.mb100 {
	margin-bottom: 100px
}
.ml5 {
	margin-left: 5px
}
.ml10 {
	margin-left: 10px
}
.ml15 {
	margin-left: 15px
}
.ml17{
	margin-left: 17px;
}
.ml20 {
	margin-left: 20px
}
.ml30 {
	margin-left: 30px
}
.ml50 {
	margin-left: 50px
}
.ml100 {
	margin-left: 100px
}
.ml205{
	margin-left: 205px;
}
.mr5 {
	margin-right: 5px
}
.mr10 {
	margin-right: 10px
}
.mr15 {
	margin-right: 15px
}
.mr20 {
	margin-right: 20px
}
.mr30 {
	margin-right: 30px
}
.mr50 {
	margin-right: 50px
}
.mr100 {
	margin-right: 100px
}
.p10 {
	padding: 10px;
}
.p50 {
	padding: 50px;
}
.p15 {
	padding: 15px;
}
.p20 {
	padding: 20px;
}
.p30 {
	padding: 30px;
}
.pt5 {
	padding-top: 5px
}
.pt10 {
	padding-top: 10px
}
.pt15 {
	padding-top: 15px
}
.pt20 {
	padding-top: 20px
}
.pt30 {
	padding-top: 30px
}
.pt50 {
	padding-top: 50px
}
.pt100 {
	padding-top: 100px
}
.pb5 {
	padding-bottom: 5px
}
.pb10 {
	padding-bottom: 10px
}
.pb15 {
	padding-bottom: 15px
}
.pb20 {
	padding-bottom: 20px
}
.pb30 {
	padding-bottom: 30px
}
.pb50 {
	padding-bottom: 50px
}
.pb100 {
	padding-bottom: 100px
}
.pl5 {
	padding-left: 5px
}
.pl10 {
	padding-left: 10px
}
.pl15 {
	padding-left: 15px
}
.pl20 {
	padding-left: 20px
}
.pl30 {
	padding-left: 30px
}
.pl50 {
	padding-left: 50px
}
.pl100 {
	padding-left: 100px
}
.pr5 {
	padding-right: 5px
}
.pr10 {
	padding-right: 10px
}
.pr15 {
	padding-right: 15px
}
.pr20 {
	padding-right: 20px
}
.pr30 {
	padding-right: 30px
}
.pr50 {
	padding-right: 50px
}
.pr100 {
	padding-right: 100px
}
.red{
	color: #ed1b23
}
.green{
	color: #48a801;
}

.vt{
	vertical-align: top;
}