@charset "UTF-8";

html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    vertical-align: baselinebaseline;
    font-weight: inherit;
    font-style: inherit;
    font-size: 100%;
    outline: 0;
    padding: 0;
    margin: 0;
    border: 0;
}
:focus {
    outline: 0;
}
body {
    font-size: 12px;
    font-family: '微软雅黑', Arial, Helvetica, sans-serif;
    color: #666;
    background: #f3f3f3;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: separate;
    border-spacing: 0;
}
caption, th, td {
    font-weight: normal;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: "";
}
blockquote, q {
    quotes: "" "";
}

address, caption, cite, code, dfn, em, strong, th, var {
    font-style: normal;
    font-weight: normal;
}
h1, h2, h3, h4, h5, h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before, q:after {
    content: '';
}
abbr, acronym {
    border: 0;
}
html {
    -webkit-text-size-adjust: none;
}
button {
    cursor: pointer;
    font-family: "微软雅黑";
}
input {
    outline: none;
    font-family: '微软雅黑'
}
input:focus {
    outline: none;
}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: none;
}

/*Global Elements*/
a {
    color: #666;
    text-decoration: none;
}
a:hover {
    text-decoration: none;
    color: #f60;
}
/*去除链接的虚线框*/
a {
    blr: expression(this.onFocus=this.close());
}/* 只支持IE，过多使用效率低 */
a {
    blr: expression(this.onFocus=this.blur());
}/* 只支持IE，过多使用效率低 */
a:focus {
    -moz-outline-style: none;
}/* IE不支持 */

/* Clearfix */
.clearfix:after, #content:after {
    content: "\0020";
    display: block;
    clear: both;
    height: 0;
    font-size: 0;
}
.clearfix {
    zoom: 1;
}
.clear {
    clear: both;
}
/* position */
.abs {
    position: absolute
}
.rel {
    position: relative
}
/* A link */
a.redLine {
    color: #e97c7c;
    text-decoration: underline;
}
a.redLine:hover {
    color: #f60;
}
a.orange {
    color: #e77d00;
}
a.orange:hover {
    text-decoration: underline;
}

/*float*/
.fl {
    float: left
}
.fr {
    float: right
}
/*font-size*/
.f10 {
    font-size: 10px;
}
.f12 {
    font-size: 12px;
}
.f14 {
    font-size: 14px;
}
.f15 {
    font-size: 15px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}
.f20 {
    font-size: 20px;
}
.f22 {
    font-size: 22px;
}
.f26 {
    font-size: 26px;
}
.f28 {
    font-size: 28px;
}
.f30 {
    font-size: 30px;
}
/*font-family*/
.fontFsong {
    font-family: '宋体';
}
.Yahei {
    font-family: "微软雅黑"
}
.Arial {
    font-family: Arial, Helvetica, sans-serif
}
/* text-decorationt */
.tdn {
    text-decoration: none;
}
.uL {
    text-decoration: underline;
}
.cPointer {
    cursor: pointer;
}
/*color*/
.c333 {
    color: #333;
}
.c666 {
    color: #666;
}
.c888 {
    color: #888;
}
.c999 {
    color: #999;
}
.cddd {
    color: #ddd;
}
.cbbb {
    color: #bbb;
}
.cfff {
    color: #fff;
}
.cAAA {
    color: #aaa
}
.c000 {
    color: #000;
}
.red {
    color: #ff0000;
}
/*QianBao color*/
.redMain {
    color: #d03a24;
}/*主色--红色*/
.gold {
    color: #e77d00;
}/*辅色--黄色*/
.gold2 {
    color: #dfb26c;
}/*辅色--淡黄色*/
.greenMain {
    color: #98c13d;
}/*点缀色--绿色*/
.buleMain {
    color: #47b6e0;
}/*点缀色--淡蓝色*/
.bule2Main {
    color: #0d8bc6;
}/*点缀色--蓝色*/
/*background*/
.bgFA {
    background: #fafafa;
}
.bgFFF {
    background: #fff;
}
.bgEA {
    background: #eaeaea;
}
.bgDE {
    background: #dedede;
}
/*font-weight*/
.b {
    font-weight: bold
}
/*margin*/
.mt5 {
    margin-top: 5px;
}
.mt10 {
    margin-top: 10px;
}
.mt15 {
    margin-top: 15px;
}
.mt20 {
    margin-top: 20px;
}

.mr5 {
    margin-right: 5px;
}
.mr10 {
    margin-right: 10px;
}
.mr15 {
    margin-right: 15px;
}
.mr20 {
    margin-right: 20px;
}

.mb5 {
    margin-bottom: 5px;
}
.mb10 {
    margin-bottom: 10px;
}
.mb15 {
    margin-bottom: 15px;
}
.mb20 {
    margin-bottom: 20px;
}

.ml5 {
    margin-left: 5px;
}
.ml10 {
    margin-left: 10px;
}
.ml15 {
    margin-left: 15px;
}
.ml20 {
    margin-left: 20px;
}

.mtb5 {
    margin: 5px 0;
}
.mtb10 {
    margin: 10px 0;
}
.mlr5 {
    margin: 0 5px;
}
.mlr10 {
    margin: 0 10px;
}
/*padding*/
.p5 {
    padding: 5px;
}
.p10 {
    padding: 10px;
}
.p15 {
    padding: 15px;
}
.p20 {
    padding: 20px;
}

.pt5 {
    padding-top: 5px;
}
.pt10 {
    padding-top: 10px;
}
.pt15 {
    padding-top: 15px;
}
.pt20 {
    padding-top: 20px;
}

.pr5 {
    padding-right: 5px;
}
.pr10 {
    padding-right: 10px;
}
.pr15 {
    padding-right: 15px;
}
.pr20 {
    padding-right: 20px;
}

.pb5 {
    padding-bottom: 5px;
}
.pb10 {
    padding-bottom: 10px;
}
.pb15 {
    padding-bottom: 15px;
}
.pb20 {
    padding-bottom: 20px;
}

.pl5 {
    padding-left: 5px;
}
.pl10 {
    padding-left: 10px;
}
.pl15 {
    padding-left: 15px;
}
.pl20 {
    padding-left: 20px;
}

.ptb5 {
    padding: 5px 0;
}
.ptb10 {
    padding: 10px 0;
}
.plr5 {
    padding: 0 5px;
}
.plr10 {
    padding: 0 10px;
}
/*display*/
.db {
    display: block;
}
.dn, .none {
    display: none;
}
.dib {
    display: inline-block;
}
/*text-align*/
.tr {
    text-align: right
}
.tl {
    text-align: left
}
.tc {
    text-align: center
}
/*vertical-align*/
.vaM {
    vertical-align: middle
}
.vaT {
    vertical-align: top
}
.vaB {
    vertical-align: bottom
}


.jogger a {
    background: none repeat scroll 0 0 #EE4E4E;
    color: #FFFFFF;
    margin-right: 5px;
    padding: 4px 10px;
}
.jogger a:hover {
    background: none repeat scroll 0 0 #DE1818;
    color: #FFFFFF;
}
.jogger a:active {
    background: none repeat scroll 0 0 #DE1818;
    color: #FFFFFF;
}
.jogger a.current,
.jogger span.current {
    background: none repeat scroll 0 0 #F6EFCC;
    color: #6D643C;
    margin: 2px;
}