.redBtn{
	width: 80px;
	height: 30px;
	text-align: center;
	line-height: 30px;
	color: #fff;
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url(../images/buttons/btn_1.jpg);
	display: inline-block;
	border: 0;
}

.redBtn:hover{
	background-position: left bottom

}

.bigRedBtn{
	line-height: 37px;
	height: 37px;
	padding: 0 30px;
	text-align: center;
	display: inline-block;
	color: #fff;
	cursor:pointer;
	border: 0;
	font-weight: bold;
	background-image: url(../images/buttons/bigRedBtn.jpg);
	background-color: #d51820;
	background-repeat: repeat-x;
	background-position: top left;
	vertical-align: middle;
}
.bigRedBtn:hover{
	background-position: bottom left;
	color: #fff;
}