body{
	background: url(../images/layouts/loginBg.jpg) repeat-x top left #E0D6D7;
}

.loginMain{
	width: 884px;
	height: 623px;
	background: url(../images/layouts/loginMain.jpg) no-repeat;
	margin: 0 auto;
}

.loginForm{
	margin-left: 260px;
	padding-top: 205px;
}


.loginForm .item{
	margin-bottom: 12px;
	clear: both;
	vertical-align: middle;
}


.loginForm .item label.tit{
	text-align: right;
	width: 80px;
	display: block;
	margin-right: 7px;
	line-height: 34px;
	height: 34px;
	float: left;
	font-size: 14px;
}

.loginForm .item .txt{
	line-height: 32px;
	height: 32px;
	border:1px solid #bd888b;
	width: 208px;
	vertical-align: middle;
}


.loginForm .item select{
	padding:8px 0;
	border:1px solid #bd888b;
	width: 208px;
	vertical-align: middle;
}




.loginForm .item .shortTxt{
	width: 104px;
}
.verificationCode{
	height: 34px;
	background:#fff;
	vertical-align: middle;
}

.loginMain .copyright{
	text-align: center;
	margin-top: 40px;
	color: #777;
}