body,div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td { margin: 0; padding: 0; font-family: inherit;}
article,aside,details,figcaption,figure,footer,header,hgroup,nav,section{display:block}
audio,canvas,video{display:inline-block;*display:inline;*zoom:1}
body, button, input, select, textarea{ font : 12px/1.5 Helvetica,Arial,'宋体','Microsoft YaHei'}  
audio:not([controls]){display:none}
fieldset, img { border: 0; }
/* remember to define focus styles! */
:focus { outline: 0; }
address, caption, cite, code, dfn, em, th, var, optgroup { font-style: normal; font-weight: normal; }
h1, h2, h3, h4, h5, h6 { font-size: 100%; font-weight: normal; }
abbr, acronym { border: 0; font-variant: normal; }
input, button, textarea, select, optgroup, option { font-family: inherit; font-size: inherit; font-style: inherit; font-weight: inherit; }
code, kbd, samp, tt { font-size: 100%; }
/*@purpose To enable resizing for IE */
/*@branch For IE6-Win, IE7-Win */
input, button, textarea, select {  *font-size: 100%;}
ol, ul,menu { list-style: none; }
/* tables still need 'cellspacing="0"' in the markup */
table{border-collapse:collapse;border-spacing:0;empty-cells:show}
caption, th { text-align: left; }
sup, sub { font-size: 100%; vertical-align: baseline; }
/* remember to highlight anchors and inserts somehow! */
:link, :visited, ins { text-decoration: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
a:focus{outline:none}
em,i{font-style: normal}
button,input,select,textarea{font-size:100%;margin:0;vertical-align:-3px;outline:none;}
button{border:1px solid;outline:none;line-height:normal;*overflow:visible}
button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}
button,input[type="button"],input[type="reset"],input[type="submit"]{cursor:pointer;-webkit-appearance:button}
input[type="search"]{-webkit-appearance:textfield;-webkit-box-sizing:content-box;-moz-box-sizing:content-box;box-sizing:content-box}
input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}
textarea{overflow:auto;vertical-align:top; resize:none;}
*[hidden]{display:none}
.central:after,.widget ul:after,.paging:after,.pagenav:after,.base-tit:after{content:".";display:block;height:0;clear:both;visibility:hidden; overflow: hidden}
.clearfix,.central,.widget ul,.paging,.pagenav,.base-tit{ height:0; overflow: hidden; clear: both; display:block;}

